<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="RegisterTouchPad" value="True" />
        <add key="IgnoreFullScreen" value="False" />
        <add key="IgnoreTouchInputWhenUsingPen" value="False" />
        <add key="VisualFeedbackColor" value="Yellow" />
        <add key="VisualFeedbackWidth" value="0" />
        <add key="MinimumPointDistance" value="22" />
        <add key="DrawingButton" value="2097152" />
        <add key="PenGestureButton" value="0" />
        <add key="InitialTimeout" value="300" />
        <add key="RegisterTouchScreen" value="False" />
        <add key="ShowTrayIcon" value="True" />
    </appSettings>
</configuration>